* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'lato', sans-serif;
}
h1,
h2,
h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #252525;
}

.hidden-heading{
  display: none;
}

#menu {
  letter-spacing: 2px;
  font-size: 15px;
  list-style: none;
  position: absolute;
}

#menu li {
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  padding: 5px;
  top: 0;
  z-index: 99;
}

nav {
  width: 100%;
  left: 0;
  padding: 10px 0 0 10px;
  box-shadow: 0 2px 2px blue;
  height: 110px;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  padding-right: 5px;
  font-size: 2rem;
}

main {
  min-height: 100vh;
  margin: 3rem 0;
}

#hero {
  height: 600px;
  width: 100%;
  background: url('../images/hero-image.webp') no-repeat center center/cover;
  position: relative;
}

footer {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 40px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.socials i {
  color: black;
}

.text {
  position: absolute;
  bottom: 10px;
  left: 1%;
  background-color: rgba(241, 109, 107, 0.7);
  max-width: 200px;
  padding: 10px;
  min-height: 200px;
  font-size: 150%;
  border-radius: 10px;
}

.reason {
  padding: 15px;
}

.reason > h2 {
  text-align: center;
}

.benefits p {
  padding: 5px 0 5px 5px;
}

.active {
  border-bottom: 1px solid red;
}

.text > h2, .text > h3 {
  color: #fff;
}

#circled-cover-bg{
  background:url('../images/reasons-image.webp') no-repeat top center/cover;
  height: 90vh;
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefit-image{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 10px;
 
}

#circled-cover-bg {
  width: 100%;
}

#run-times {
  display: flex;
  flex-wrap: wrap;
  background: url('../images/dublin-city.webp') no-repeat center/cover;
  
}

#run-times > div {
 color: #fafafa;
 background-color: rgba(0, 0, 0, 0.6);
 padding: 15px;
 text-align: center;
 flex-basis: 200px;
 flex-grow: 1;
 border: 2px solid #fafafa;
 
}

#run-times > div > h3 {
  font-size: 150%;
  color: #fafafa;
}


@media screen and (min-width: 768px) {
  nav {
    width: 50%;
    padding: 20px 0 0 10px;
    box-shadow: none;
    display: flex;
    position: relative;
    height: auto;
    padding: 5px;
    justify-content: flex-end;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    position: relative;
  }

  #menu li {
    margin-bottom: 0;
  }

  #menu li a {
    font-size: 20px;
    color: #252525;
  }

  .nav-toggle-label {
    display: none;
  }

  main {
    margin-top: 3.4rem;
  }

  .active {
    border-bottom: 1px solid red;
  }

  .text {
    min-width: 30%;
    bottom: 0;
    left: 70%;
    min-height: 150px;
    font-size: 150%;
  }

  .benefit-physical, .benefit-mental{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .benefit-mental > div, .benefit-physical > div{
    width: 75%;
  }

  .benefit-mental > div {
    text-align: end;
    align-self: flex-end;
  }

}

@media screen and (min-width: 992px) {
  #menu a:hover {
    color: pink;
  }

  .active {
    border-bottom: 1px solid red;
  }

}

@media screen and (min-width: 1200px) {

  .benefits {
    display: flex;
    flex-direction: row;
  
  }

  .benefits > div {
    flex: 1;
  }

  #benefit-image {
   order: 0;
  }

  .benefit-mental {
    order: 1;
  }

  .benefit-mental > div {
    align-self: flex-start;
    margin: 10px;
  }

  .benefit-physical > div {
    align-self: flex-end;
    margin: 20px;
  }
  
}
